/* movie brand logo */
#movie-logo {
  color: #f5de50;
  margin-left: 0px;
  letter-spacing: 9px;
}
body{
background-color: rgb(15, 14, 14);
}
.navbar-header{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* signin form  and signup form*/
.signInForm {
	width: 500px;
  margin: auto;
}
.navbar .SignIn-button .SignUp-button{
    border: 0px solid #f7f3f3;
    float: right;
}
a{
    font-size: large;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 10px;
}
.signup-container{
  width: 500px;
  margin: auto;
  border-radius: 5px;
  margin-top: 8px;
}
.signUpForm .input-field{
  border-radius: 5px;
}
.submit{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    background-color:#007BFF;
    color: azure;
}
h2{
  color:white;
}
label{
  color: white;
}
input{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}